<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Dyno.recetaspan" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Recetas Pan</name>
    <description>
        Aplicación para crear recetas para pan. Lleva incluida una calculadora para pesos de ingredientes.
    </description>
    <author email="josoma@gmail.com" href="http://josoma.com">
        Jorge Vila
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/logo.png" />
</widget>
